.home__bg{
    background-image: url(https://images.unsplash.com/photo-1662808817696-eac8a9a74670?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhdHRpbmclMjB3YWxscGFwZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
    height:92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.home-message-icon{
    margin-left: 10px;
    display: inline-block;
}